PM_APP_ADDRESS=0x0
PM_APP_END_ADDRESS=0x7b000
PM_APP_SIZE=0x7b000
PM_APP_NAME=app
PM_APP_ID=0
PM_app_ID=PM_APP_ID
PM_app_IS_ENABLED=1
PM_0_LABEL=APP
PM_ZBOSS_NVRAM_ADDRESS=0x7b000
PM_ZBOSS_NVRAM_END_ADDRESS=0x7f000
PM_ZBOSS_NVRAM_SIZE=0x4000
PM_ZBOSS_NVRAM_NAME=zboss_nvram
PM_ZBOSS_NVRAM_ID=1
PM_zboss_nvram_ID=PM_ZBOSS_NVRAM_ID
PM_zboss_nvram_IS_ENABLED=1
PM_1_LABEL=ZBOSS_NVRAM
PM_ZBOSS_PRODUCT_CONFIG_ADDRESS=0x7f000
PM_ZBOSS_PRODUCT_CONFIG_END_ADDRESS=0x80000
PM_ZBOSS_PRODUCT_CONFIG_SIZE=0x1000
PM_ZBOSS_PRODUCT_CONFIG_NAME=zboss_product_config
PM_ZBOSS_PRODUCT_CONFIG_ID=2
PM_zboss_product_config_ID=PM_ZBOSS_PRODUCT_CONFIG_ID
PM_zboss_product_config_IS_ENABLED=1
PM_2_LABEL=ZBOSS_PRODUCT_CONFIG
PM_SRAM_PRIMARY_ADDRESS=0x20000000
PM_SRAM_PRIMARY_END_ADDRESS=0x20020000
PM_SRAM_PRIMARY_SIZE=0x20000
PM_SRAM_PRIMARY_NAME=sram_primary
PM_NUM=3
PM_ALL_BY_SIZE="zboss_product_config zboss_nvram sram_primary app"